<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.sense_os.datastorageengine.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.NFC" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="nl.sense_os.datastorageengine.test" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="android.support.multidex.MultiDexApplication">
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="nl.sense_os.datastorageengine.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="nl.sense_os.datastorageengine.DataSyncerAlarmReceiver"></receiver>
        <receiver android:name="nl.sense_os.datastorageengine.DataSyncerBootReciver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        <service android:name="nl.sense_os.datastorageengine.DataSyncer$PeriodicSyncService" />

    </application>

</manifest>